:root {
    /*** Primary action color ***/
    --primary: #1D5ED7;
    --secondary: #5C636A;
    --success: #198754;
    --danger: #DC3545;
    --warning: #FECA2B;
    --info: #32D2F2;
    --light: #D3D4D5;
    --dark: #424649;


    /*** General colors ***/
    --black: #000000;
    --white: #ffffff;
    --dar-gray: #333333;
    --light-gray: #cccccc;
    --off-white: #f9f9f9;
}